{% extends 'base.html.twig' %}

    {% block body %}
    <div class="head">
    <a href="/"><h1>My Quizz</h1></a>
            <div class="log">
                    <a class="button1" href="/">Home</a>
            </div>
    </div>

    <h4> Un email a été envoyé </h4>
    {% endblock %}
